@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    background: linear-gradient(180deg, #FFFF 90%, #C5D9FF 110%);
    height: 100vh;
}

.navbar{
    background: linear-gradient(90deg, #61A0FF 1.5%, #B1EFCA 92.13%);
}

.dropdown-menu{
    background: linear-gradient(180deg, #6CAFFF 1.5%, #FFFFFF 92.13%); 
    border-radius: 8%;
}

.nav-title{
    margin-left: 8px; 
    font-size: 16px; 
    font-weight: 700; 
    font-family: 'Open Sans Condensed'; 
    text-shadow: 0 6px 10px rgba(0, 0, 0, 0.364); 
    color: white;
}

.main{
    padding: 3%; 
    font-family: 'Poppins';
}

.cards{
    background-color: #E0E0E0; 
    padding: 2.4rem; 
    border-radius: 12px;
}

.sub-main{
    background: linear-gradient(180deg, #7ABDFF 1.5%, #BAFFD9 92.13%); 
    margin: -3%; 
    height: 50rem; 
    border-top-right-radius: 24px; 
    border-top-left-radius: 24px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.form-select{
    border-radius: 10px;
}

.form-control{
    border-radius: 10px;
}

.btn-primary{
    background: #488DF8; 
    align-items: center; 
    border-radius: 30px;
    border-color: #7ABDFF;
    width: 24%;
}