<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Biorasi</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://fonts.cdnfonts.com/css/berlin-sans-fb" rel="stylesheet">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body class="vh-100">
    <svg width="428" height="300" viewBox="0 0 924 646" fill="none" xmlns="http://www.w3.org/2000/svg"
        style="position: absolute;">
        <g clip-path="url(#clip0_626_73)">
            <path
                d="M-63.7423 543.25C-10.988 529.876 36.3605 500.808 63.9837 462.165C80.981 438.387 93.0747 409.135 106.927 383.761C116.98 365.346 117.262 343.55 127.085 326.283C143.915 296.7 143.625 268.568 173.676 242.659C191.396 227.38 209.828 211.206 232.347 200.561C252.598 190.988 272.99 183.747 292.943 174.345C342.945 150.785 405.739 156.135 456.279 128.732C517.639 95.4621 602.258 73.3447 651.013 26.002C676.027 1.71171 692.115 -15.5811 702.962 -46.2738C707.543 -59.2353 728.942 -83.3037 698.88 -80.6933C622.097 -74.026 551.857 -35.8276 474.285 -29.0917C397.932 -22.4618 321.739 -0.0297917 247.523 16.4565C196.855 27.7119 140.685 27.9628 88.7248 32.4747C65.9344 34.4537 43.1439 36.4326 20.3534 38.4116C-5.83567 40.6857 -28.1426 34.598 -53.5932 36.8079C-78.6192 38.981 -81.4974 41.6419 -88.3381 61.6702C-110.121 125.448 -114.607 197.58 -117.577 263.268C-118.277 278.752 -141.895 421.64 -106.281 418.547C-76.7657 415.984 -63.2266 402.263 -50.054 379.783C0.587345 293.358 38.9126 195.965 70.3388 104.065C71.8138 99.7519 90.1507 61.0677 82.2908 84.3027C78.4106 95.7735 67.414 107.841 61.801 119.073"
                stroke="url(#paint0_linear_626_73)" stroke-width="200" stroke-linecap="round" />
        </g>
        <defs>
            <linearGradient id="paint0_linear_626_73" x1="277.464" y1="-44.1001" x2="325.531" y2="509.448"
                gradientUnits="userSpaceOnUse">
                <stop stop-color="#5B9CFB" />
                <stop offset="0.709" stop-color="#7BFB5B" stop-opacity="0.39" />
            </linearGradient>
            <clipPath id="clip0_626_73">
                <rect width="924" height="646" fill="white" />
            </clipPath>
        </defs>
    </svg>

    <div class="main">
        <img src="/landingPage.png" class="bg-image" alt="">
        <div class="d-flex position-relative justify-content-center mb-3 mt-5 mx-auto">
            <div class="align-items-center justify-content-center d-flex">
                <h5 class="mt-2 text-center title-apk">
                    BIORASI <br> <span style="font-size: 2rem;">Pegawai Terbaik</span></h5>
            </div>
        </div>

        <div class="row row-cols-1 row-cols-md-2 g-4 p-5 mx-auto" style="width: 100%;">
            <div class="col">
                <div class="card">
                    <a href="/loginKabir" class="card-txt">
                        <div class="card-body">
                            <div class="d-flex position-relative">
                                <div>
                                    <h5 class="card-title fw-bold">Kepala Biro</h5>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 20 20"
                                    style="margin-left: auto;">
                                    <path fill="#3A62FF"
                                        d="M17 16.9v-2.5c0-.7-.1-1.4-.5-2.1c-.4-.7-.9-1.3-1.6-1.7c-.7-.5-2.2-.6-2.9-.6l-1.6 1.7l.6 1.3v3l-1 1.1L9 16v-3l.7-1.3L8 10c-.8 0-2.3.1-3 .6c-.7.4-1.1 1-1.5 1.7S3 13.6 3 14.4v2.5S5.6 18 10 18s7-1.1 7-1.1M10 2.1c-1.9 0-3 1.8-2.7 3.8c.3 2 1.3 3.4 2.7 3.4s2.4-1.4 2.7-3.4c.3-2.1-.8-3.8-2.7-3.8" />
                                </svg>
                            </div>
                            <p class="card-text">Login sebagai Kepala Biro.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/loginKabag" class="card-txt">
                        <div class="card-body">
                            <div class="d-flex position-relative">
                                <div>
                                    <h5 class="card-title fw-bold">Kepala Bagian</h5>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    style="margin-left: auto;">
                                    <path fill="#3A62FF"
                                        d="M16 17v2H2v-2s0-4 7-4s7 4 7 4m-3.5-9.5A3.5 3.5 0 1 0 9 11a3.5 3.5 0 0 0 3.5-3.5m3.44 5.5A5.32 5.32 0 0 1 18 17v2h4v-2s0-3.63-6.06-4M15 4a3.39 3.39 0 0 0-1.93.59a5 5 0 0 1 0 5.82A3.39 3.39 0 0 0 15 11a3.5 3.5 0 0 0 0-7" />
                                </svg>
                            </div>
                            <p class="card-text">Login sebagai Kepala Bagian.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/loginAdmin" class="card-txt">
                        <div class="card-body">
                            <div class="d-flex position-relative">
                                <div>
                                    <h5 class="card-title fw-bold">Admin</h5>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 32 32"
                                    style="margin-left: auto;">
                                    <path fill="#3A62FF"
                                        d="M16 5c-3.9 0-7 3.1-7 7a6.96 6.96 0 0 0 3.07 5.813C8.51 19.346 6 22.892 6 27h2c0-4.4 3.6-8 8-8c3.9 0 7-3.1 7-7s-3.1-7-7-7m0 2c2.8 0 5 2.2 5 5s-2.2 5-5 5s-5-2.2-5-5s2.2-5 5-5m8.1 11v2.1c-.6.1-1.2.4-1.7.7l-1.5-1.5l-1.4 1.4l1.5 1.5c-.4.5-.6 1.1-.7 1.8H18v2h2.1c.1.6.4 1.2.7 1.8l-1.5 1.5l1.4 1.4l1.5-1.5c.5.3 1.1.6 1.7.7V32h2v-2.1c.6-.1 1.2-.4 1.7-.7l1.5 1.5l1.4-1.4l-1.5-1.5c.4-.5.6-1.1.7-1.8H32v-2h-2.1c-.1-.6-.4-1.2-.7-1.8l1.5-1.5l-1.4-1.4l-1.5 1.5c-.5-.3-1.1-.6-1.7-.7V18zm.9 4c1.7 0 3 1.3 3 3s-1.3 3-3 3s-3-1.3-3-3s1.3-3 3-3m0 2a.872.872 0 0 0-.367.086a1.138 1.138 0 0 0-.32.227a1.138 1.138 0 0 0-.227.32A.872.872 0 0 0 24 25c0 .375.281.75.633.914A.872.872 0 0 0 25 26c.5 0 1-.5 1-1s-.5-1-1-1" />
                                </svg>
                            </div>
                            <p class="card-text">Login sebagai Admin.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <a href="/loginPegawai" class="card-txt">
                        <div class="card-body">
                            <div class="d-flex position-relative">
                                <div>
                                    <h5 class="card-title fw-bold">Pegawai</h5>
                                </div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                    style="margin-left: auto;">
                                    <path fill="#3A62FF"
                                        d="M12 5.5A3.5 3.5 0 0 1 15.5 9a3.5 3.5 0 0 1-3.5 3.5A3.5 3.5 0 0 1 8.5 9A3.5 3.5 0 0 1 12 5.5M5 8c.56 0 1.08.15 1.53.42c-.15 1.43.27 2.85 1.13 3.96C7.16 13.34 6.16 14 5 14a3 3 0 0 1-3-3a3 3 0 0 1 3-3m14 0a3 3 0 0 1 3 3a3 3 0 0 1-3 3c-1.16 0-2.16-.66-2.66-1.62a5.536 5.536 0 0 0 1.13-3.96c.45-.27.97-.42 1.53-.42M5.5 18.25c0-2.07 2.91-3.75 6.5-3.75s6.5 1.68 6.5 3.75V20h-13zM0 20v-1.5c0-1.39 1.89-2.56 4.45-2.9c-.59.68-.95 1.62-.95 2.65V20zm24 0h-3.5v-1.75c0-1.03-.36-1.97-.95-2.65c2.56.34 4.45 1.51 4.45 2.9z" />
                                </svg>
                            </div>
                            <p class="card-text">Login sebagai Pegawai.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

</body>

</html>