<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/kepala_bagian/dashboard.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:700' rel='stylesheet'>
    <script src="/js/dashboardKabag.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Ninth navbar example">
        <div class="container-xl">
            <a href="/dashboardKabag"
                class="navbar-brand d-flex align-items-center mt-1 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="/pemprovsumbar.png" width="42" height="42" class="img-fluid" alt="Pemprov Sumbar">
                <span class="fs-4"></span>
                <h6 class="mt-1 ms-2 nav-title">
                    BIORASI
                    <br><span style="font-size: 14px;">Pegawai Terbaik</span></h6>
            </a>
            <div class="dropdown text-end">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/user.png" alt="User Image" width="50%" height="50%">
                </a>
                <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/dashboardKabag">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/profileKabag">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a type="button" class="dropdown-item" id="logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="konten d-flex flex-column justify-content-center align-items-center">
            <h3 class="text-center main-title">Penilaian Pegawai Terbaik</h3>
            <img class="mb-1" src="/homeKabag.png" width="24%" height="24%">
            <p class="text-center mb-4 sub-title">Biorasi adalah sistem inovatif yang membantu dalam melakukan penilaian
                kinerja Pegawai setiap bulan.
                Biorasi memberikan pemahaman tentang kontribusi dan prestasi pegawai.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <a href="/penilaianKabag" class="card text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">Penilaian</h5>
                            <img src="/Note.png" class="position-absolute top-0 end-0 ic-card">
                            <p class="card-text me-3">Untuk melakukan penilaian karyawan bagian yang dipimpin.</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <a href="/riwayatAkumulasiKabag" class="card text-decoration-none text-black">
                        <div class="card-body">
                            <h5 class="card-title">Riwayat Akumulasi
                                Penilaian</h5>
                            <img src="/Bar_Chart.png" class="position-absolute top-0 end-0 ic-card">
                            <p class="card-text me-3">Mengetahui data Pegawai terbaik dalam kurun
                                waktu per periode yang telah ditentukan.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

</body>

</html>