<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Form Penilaian</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/kepala_bagian/formPenilaian.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap">
    <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:700' rel='stylesheet'>
    <script src="/js/formPenilaianKabag.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Ninth navbar example">
        <div class="container-xl">
            <a href="/dashboardKabag"
                class="navbar-brand d-flex align-items-center mt-1 mb-md-0 me-md-auto link-dark text-decoration-none">
                <img src="/pemprovsumbar.png" width="42" height="42" class="img-fluid" alt="Pemprov Sumbar">
                <span class="fs-4"></span>
                <h6 class="mt-1 ms-2 nav-title">
                    BIORASI
                    <br><span style="font-size: 14px;">Pegawai Terbaik</span></h6>
            </a>
            <div class="dropdown text-end">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="/user.png" alt="User Image" width="50%" height="50%">
                </a>
                <ul class="dropdown-menu text-small dropdown-menu-end" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" href="/dashboardKabag">Dashboard</a></li>
                    <li><a class="dropdown-item" href="/profileKabag">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a type="button" class="dropdown-item" id="logout">Log out</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <h5 class="title mt-2 ms-3">Form Penilaian</h5>
        <form>
            <fieldset disabled>
                <div class="mb-3">
                    <label for="disabledTextInpu" class="form-label fw-bold">NIP</label>
                    <input type="text" id="nip" class="forms form-control" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label fw-bold">Nama</label>
                    <input type="text" id="nama" class="forms form-control" placeholder="">
                </div>
                <div class="mb-3">
                    <label for="disabledTextInput" class="form-label fw-bold">Golongan</label>
                    <input type="text" id="golongan" class="forms form-control" placeholder="">
                </div>
            </fieldset>
        </form>
        <div class="mt-4" style="padding: 5%;">
            <h6 class="fw-bold" style="font-size: 18px;">Penilaian</h6>
            <form id="penilaian" class="mb-4" action="">
                <fieldset>
                    <p class="kriteria mt-4 fw-bold">1. Disiplin</p>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="disiplin" id="disiplin" value="5">Secara konsisten,
                        selalu hadir tepat
                        waktu, dengan tingkat absensi 0%
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="disiplin" id="disiplin" value="4">Selalu hadir tepat
                        waktu, dengan
                        tingkat absensi < 5% </label> <label for="">
                            <input class="me-2 mt-2" type="radio" name="disiplin" id="disiplin" value="3">Selalu hadir
                            tetapi kadang
                            terlambat dan sesekali absen di beberapa kondisi yang bisa diberi toleransi
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="disiplin" id="disiplin" value="2">Tingkat absensi
                        >10% dan datang
                        kadang terlambat
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="disiplin" id="disiplin" value="1">Sering datang
                        terlambat dan absen
                        tanpa alasan yang jelas
                    </label>
                </fieldset>
                <fieldset>
                    <p class="kriteria mt-4 fw-bold" style="margin-bottom: -1px; ">2. Tanggung Jawab</p>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="tanggungjawab" id="tanggungjawab" value="5">Selalu
                        mengerjakan tugas yang diberikan, mengumpulkan tepat waktu, serta mengerjakan sesuai dengan
                        instruksi yang diberikan
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="tanggungjawab" id="tanggungjawab" value="4">Selalu
                        mengerjakan tugas yang diberikan dengan tepat waktu meskipun sesekali melakukan kesalahan
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="tanggungjawab" id="tanggungjawab"
                            value="3">Mengerjakan tugas yang diberikan terkadang terlambat dan kurang sesuai dengan
                        instruksi yang diberikan namun masih dalam batas yang wajar
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="tanggungjawab" id="tanggungjawab" value="2">
                        Tugas yang diberikan dikerjakan namun kerap kali terlambat dan banyak ditemui kesalahan
                    </label>
                    <label for="">
                        <input class="me-2 mt-2" type="radio" name="tanggungjawab" id="tanggungjawab" value="1">
                        Sering kali tidak mengerjakan tugas yang diberikan
                    </label>
                </fieldset>
                <button type="button" class="btn btn-primary mt-5 d-flex justify-content-center mx-auto">Submit</button>
            </form>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>

</body>

</html>