@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #F9FAFC;
    margin: 0;
}

.container {
    padding: 0;
}

.right-box {
    padding: 60px 80px 40px 0px;
}

::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: #A8AFBA;
}

.rounded-4 {
    border-radius: 20px;
}

.rounded-5 {
    border-radius: 30px;
}


/*------------ For small screens------------*/

@media (max-width: 768px) {
    .container-fluid {
        display: block;
    }

    .left-box {
        overflow: hidden;
        margin-left: -10px;
    }

    .right-box {
        width: 60%;
        padding: 30px 20px;
    }

    .featured-image {
        text-align: center;
    }

    .input-group {
        width: 100%;
    }
}
